.container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  position: relative;
  width: 100%;
  height: 300px;
  border: 2px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.scanner-view {
  width: 100%;
  height: 100%;
}

.scanner-tip {
  text-align: center;
  margin-top: 10px;
  color: #666;
}

.no-data {
  color: red;
  text-align: center;
}

.device-info {
  text-align: center;
  margin-top: 20px;
  background: #f5f5f5;
  padding: 16px 32px;
  border-radius: 8px;
}

.success{
  color: rgb(0, 159, 0);
  font-size: 17px;
  font-weight: 500;
}

.scan-btn {
  width: 60%;
  margin-top: 16px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
}